---
import Button from "./ui/Button.astro";
import MassageIcon from "../assets/icons/massageIcon.svg";
import HandsIcon from "../assets/icons/handsIcon.svg";
import HairIcon from "../assets/icons/hairIcon.svg";
import MakeUpIcon from "../assets/icons/makeupIcon.svg";
import SpaIcon from "../assets/icons/spaIcon.svg";
import { Image } from "astro:assets";
---

<div class="text-background">
  <div class="text-content">
    <h1>L'Instant Soleana s'invite chez vous.</h1>
    <p>
      Plus besoin de courir ou de vous soucier du monde extérieur. Imaginez une
      bulle de bien-être qui s'installe directement dans le confort de votre
      foyer.
    </p>
    <p>
      Je recrée pour vous un espace de sérénité, avec tout le matériel
      professionnel nécessaire, pour que votre seule préoccupation soit de
      lâcher prise et de savourer l'instant.
    </p>
    <h3>Des soins sur mesure, pour toutes vos envies.</h3>
    <p>
      Que vous ayez besoin d'une relaxation profonde, d'un soin visage pour un
      coup d'éclat ou d'une mise en beauté, je vous accompagne avec une gamme de
      prestations adaptées. Chaque soin est une invitation à prendre du temps
      pour vous.
    </p>
    <p>
      Et pour une flexibilité totale, il est également possible de nous
      retrouver au sein d'établissements partenaires, sélectionnés pour leur
      cadre et leur qualité.
    </p>
  </div>
</div>
<h1 class="prestations-title">Les Prestations Soleana</h1>
<div class="prestations-cards-container">
  <div class="prestation-card">
    <Image src={MassageIcon} alt="Icône de massage" />
    <h2>Massages Bien-Être</h2>
    <p>
      Découvrez une sélection de massages vous plongeant dans un instant
      prolongé de bien-être et de détente.
    </p>
    <Button text="Massages" href="/prestations/massages" variant="primary" />
  </div>

  <div class="prestation-card">
    <Image src={HandsIcon} alt="Icône de mains" />
    <h2>Soins Bien-Être</h2>
    <p>
      Découvrez une sélection de soins pour prendre soin de vous, de votre corps
      et plus spécifiquement de votre visage, de vos mains, de vos pieds.
    </p>
    <Button text="Soins" href="/prestations/soins" variant="primary" />
  </div>

  <div class="prestation-card">
    <Image src={HairIcon} alt="Icône d'épilation" />
    <h2>Epilation</h2>
    <p>
      Une peau douce et soyeuse, sans effort, à l'aide d'une cire
      professionnelle sélectionnée avec soin.
    </p>
    <Button text="Epilation" href="/prestations/epilations" variant="primary" />
  </div>

  <div class="prestation-card">
    <Image src={MakeUpIcon} alt="Icône de maquillage" />
    <h2>Maquillage</h2>
    <p>
      Un évènement ? Une occasion particulière ? Choisissez la formule adaptée à
      vos envies.
    </p>
    <Button
      text="Maquillage"
      href="/prestations/maquillages"
      variant="primary"
    />
  </div>

  <div class="prestation-card">
    <Image src={SpaIcon} alt="Icône de spa" />
    <h2>En structure</h2>
    <p>
      Rejoignez-moi en structure pour profiter de massages, de soins, associés à
      une session de spa, de sauna, de hammam ou de piscine.
    </p>
    <Button text="Structure" href="/prestations/structures" variant="primary" />
  </div>
</div>

<style lang="scss">
  @use "../styles/global.scss";

  .text-background {
    background: url("../assets/background.svg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    margin: 0rem auto 2rem;
    padding: 5% 1rem;
  }

  .text-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    h1,
    h3,
    h5,
    p {
      text-align: center;
    }
    p {
      color: var(--primary-color);
    }
  }

  .prestations-title {
    text-align: center;
    margin: 3rem 0 4rem 0;
  }

  .prestations-cards-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2rem;
  }

  .prestation-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    align-items: center;
    justify-items: center;
    height: 100%;
    margin: 0 auto;

    h2,
    p {
      text-align: center;
      padding: 0 2rem;
    }

    p {
      font-style: italic;
      color: var(--primary-color);
    }
  }

  @media (width >= global.$breakpoint-desktop) {
    .text-content {
      width: 60%;
      h1,
      h3,
      h5 {
        text-align: center;
      }
    }

    .prestations-cards-container {
      width: 95%;
      grid-template-columns: repeat(2, 1fr);
      :last-child {
        grid-column: span 2;
      }
    }

    .prestation-card {
      width: 80%;
    }
  }
</style>
