---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Layout from "../../layouts/Layout.astro";
import PageHero from "../../components/global/PageHero.astro";
import PriceTable from "../../components/prestations/PriceTable.astro";
import ContactCard from "../../components/global/ContactCard.astro";
import StructureCard from "../../components/global/StructuresCards.astro";
import Villages from "../../components/global/VillagesSansFrais.astro";

export async function getStaticPaths() {
  const prestations = await getCollection("prestations");
  return prestations.map((prestation) => {
    const slug = prestation.id.split(".")[0];
    return {
      params: { slug },
      props: {
        prestationData: prestation.data,
      },
    };
  });
}

const { prestationData } = Astro.props;

const partenaires = await getCollection("partenaires");
const partenaire = partenaires.length > 0 ? partenaires[0].data : null;
---

<Layout
  title={`Soleana | ${prestationData.title}`}
  description={prestationData.description}
>
  <PageHero
    imageDesktop={prestationData.image.src}
    imageMobile={prestationData.image.src}
    altText={`Photo d'accueil de la section ${prestationData.title}`}
    title={prestationData.title}
    subtitle={prestationData.subtitle}
  />
  <div class="page-content">
    <h1>"{prestationData.quote}"</h1>
    <Image
      id="icon"
      src={prestationData.icon.src}
      alt={`Icône de ${prestationData.title}`}
    />

    <PriceTable
      title={prestationData.priceTableTitle}
      items={prestationData.prices}
    />

    {
      prestationData.pageLayout === "structures" && partenaire && (
        <StructureCard
          name={partenaire.name}
          location={partenaire.location}
          websiteUrl={partenaire.websiteUrl}
          description={partenaire.description}
        />
      )
    }

    {
      prestationData.secondPrices && (
        <PriceTable
          title={prestationData.secondPriceTableTitle}
          items={prestationData.secondPrices}
        />
      )
    }

    {
      prestationData.thirdPrices && (
        <PriceTable
          title={prestationData.thirdPriceTableTitle}
          items={prestationData.thirdPrices}
        />
      )
    }

    {
      prestationData.fourthPrices && (
        <PriceTable
          title={prestationData.fourthPriceTableTitle}
          items={prestationData.fourthPrices}
        />
      )
    }

    {
      prestationData.pageLayout === "soins" ||
      prestationData.pageLayout === "massages" ? (
        <div class="prestations-content">
          <p>
            Tous les soins et massages sont effectués avec des produits de
            qualité et respectueux de la santé, de la marque du Dr Belter.
          </p>
        </div>
      ) : prestationData.pageLayout === "epilations" ? (
        <div class="prestations-content">
          <p>
            Les épilations sont réalisées avec une cire douce adaptée à chaque
            type de peau.
          </p>
        </div>
      ) : null
    }

    {prestationData.pageLayout !== "structures" && <Villages />}
  </div>
  <ContactCard />
</Layout>

<style lang="scss">
  @use "../../styles/global.scss";

  .page-content {
    max-width: 90vw;
    margin: 0 auto;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    h1 {
      text-align: center;
      padding-top: 1rem;
      margin-bottom: 0;
      font-style: italic;
    }
    img {
      width: 30px;
      justify-self: center;
    }
    .prestations-content {
      p {
        text-align: center;
        font-style: italic;
        color: var(--primary-color);
        font-weight: bold;
      }
    }
  }
</style>
