---
import Layout from "../../layouts/Layout.astro";
import PageHero from "../../components/global/PageHero.astro";
import { Image } from "astro:assets";
import PriceTable from "../../components/prestations/PriceTable.astro";
import ContactCard from "../../components/global/ContactCard.astro";
import Epilation from "../../assets/images/pages/Epilation.jpg";
import EpilationIcon from "../../assets/icons/hairIcon.svg";
import {
  epilationPricesFemmes,
  epilationPricesHommes,
} from "../../data/epilationPrices.ts";
---

<Layout>
  <PageHero
    imageDesktop={Epilation}
    imageMobile={Epilation}
    altText="Photo d'accueil de la section épilation"
    title="Epilation"
    subtitle=""
  />
  <div class="page-content">
    <h1>"Soyez doux avec vous-même."</h1>
    <span id="icon"><Image src={EpilationIcon} alt="Icône de massage" /></span>
    <PriceTable title="Femmes - A la carte" , items={epilationPricesFemmes} />
    <PriceTable title="Hommes - A la carte" , items={epilationPricesHommes} />
  </div>
  <ContactCard />
</Layout>

<style lang="scss">
  .page-content {
    margin-top: 95vh;
    padding-bottom: 2rem;
    h1 {
      text-align: center;
      padding-top: 2rem;
      font-style: italic;
    }
  }

  #icon {
    display: block;
    text-align: center;
    padding: 2rem 0;
  }
</style>
