---
const menuItems = [
  {
    text: "Prestations",
    subItems: [
      { href: "/prestations/soins", text: "Soins bien-être" },
      { href: "/prestations/massages", text: "Massages" },
      { href: "/prestations/epilations", text: "Épilations" },
      { href: "/prestations/maquillages", text: "Maquillage" },
    ],
  },
  { href: "/apropos", text: "Derrière le soin" },
  { href: "/", text: "Contact" },
];
---

<header id="main-header">
  <nav>
    <a href="/" id="logo">Soleana</a>
    <div class="desktop-menu">
      {
        menuItems.map((item) =>
          item.subItems ? (
            <div class="has-submenu">
              <button class="submenu-toggle">{item.text}</button>
              <div class="submenu">
                {item.subItems.map((subItem) => (
                  <a href={subItem.href}>{subItem.text}</a>
                ))}
              </div>
            </div>
          ) : (
            <a href={item.href}>{item.text}</a>
          )
        )
      }
    </div>
    <div class="mobile-menu">
      <button class="menu-button">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="menu">
        {
          menuItems.map((item) =>
            item.subItems ? (
              <div class="has-submenu">
                <button class="submenu-toggle">{item.text}</button>
                <div class="submenu">
                  {item.subItems.map((subItem) => (
                    <a href={subItem.href}>{subItem.text}</a>
                  ))}
                </div>
              </div>
            ) : (
              <a href={item.href}>{item.text}</a>
            )
          )
        }
      </div>
    </div>
  </nav>
</header>

<script>
  import { setupMobileMenu } from "../../scripts/Navbar/mobileMenu";
  import { setupSubmenuToggle } from "../../scripts/Navbar/submenuToggle";

  function initNavbarScripts() {
    const header = document.getElementById("main-header");
    if (header) {
      setupMobileMenu(header);
      setupSubmenuToggle(header);
    }
  }

  document.addEventListener("DOMContentLoaded", initNavbarScripts);
  document.addEventListener("astro:after-swap", initNavbarScripts);
</script>

<style lang="scss">
  @use "../../styles/global.scss";

  header {
    margin-top: 0.5rem;
    width: 100%;
    position: relative;
    background-color: transparent;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem 0;
    width: 90%;
    margin: 0 auto;
    z-index: 5;
  }

  #logo {
    font-size: var(--h1);
    font-family: var(--font-title);
    position: relative;
    z-index: 20;
  }

  a {
    font-size: var(--h2);
    font-family: var(--font-text);
  }

  .desktop-menu {
    display: none;
  }

  .menu-button {
    margin-top: 0.75rem;
    height: 30px;
    width: 30px;
    position: relative;
    background-color: transparent;
    z-index: 20;
    border: none;
    span {
      height: 3px;
      width: 100%;
      background-color: var(--secondary-color);
      border-radius: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.2s ease;
    }
    span:first-child {
      top: 25%;
    }
    span:last-child {
      top: 75%;
    }
  }

  .active {
    span:first-child {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:last-child {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .menu {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    padding: 10rem 0;
    z-index: -10;
    transition: 0.5s ease;
    opacity: 0;
    overflow: auto;
  }

  .show {
    opacity: 1;
    transition: 0.3s ease-in-out;
    z-index: 10;
  }

  .submenu-toggle {
    color: var(--secondary-color);
    font-family: var(--font-text);
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--h2);
    &:hover {
      color: var(--tertiary-color);
      transition: all 0.4s ease-in-out;
    }
  }

  .submenu {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 1.5rem;
  }

  .submenu a {
    font-size: var(--h5);
    opacity: 0.8;
    color: var(--secondary-color);
    &:hover {
      color: var(--tertiary-color);
      transition: all 0.4s ease-in-out;
    }
  }

  .has-submenu.open > .submenu {
    display: flex;
  }

  :global(body.no-scroll),
  :global(html.no-scroll) {
    overflow: hidden;
  }

  @media (width >= global.$breakpoint-desktop) {
    .header {
      z-index: 100;
    }

    .desktop-menu {
      display: flex;
      align-items: center;
      gap: 3rem;
      white-space: nowrap;
    }

    .mobile-menu {
      display: none;
    }

    .has-submenu {
      position: relative;
    }

    .desktop-menu .has-submenu.open > .submenu {
      display: flex;
    }

    a,
    .submenu-toggle {
      font-size: var(--h4);
    }

    .submenu {
      position: absolute;
      top: 115%;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(255, 255, 255, 0.832);
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .submenu a {
      color: var(--primary-color);
      &:hover {
        color: var(--tertiary-color);
        transition: all 0.4s ease-in-out;
      }
    }
  }
</style>
