---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  imageDesktop: ImageMetadata;
  imageMobile: ImageMetadata;
  altText: string;
  title: string;
  subtitle?: string;
}

const { imageDesktop, imageMobile, altText, title, subtitle } = Astro.props;
---

<div class="head-background">
  <Image src={imageDesktop} alt={altText} class="head-photo desktop priority" />
  <Image src={imageMobile} alt={altText} class="head-photo mobile priority" />
  <div class="head-text">
    <h1>{title}</h1>
    <h2>{subtitle}</h2>
  </div>
</div>

<style lang="scss">
  @use "../../styles/global.scss";

  .head-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: -2;
  }

  .head-background::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.3;
    z-index: -1;
  }

  .head-text {
    max-width: 90vw;
    position: absolute;
    top: 25%;
    left: 7%;
    z-index: 1;
    h1 {
      font-size: 2.5rem;
      max-width: 70%;
    }
    h2 {
      font-size: 1.8rem;
    }
    h1,
    h2 {
      color: var(--secondary-color);
    }
  }

  .head-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-position: top;
    object-fit: cover;
  }

  .desktop {
    display: none;
  }

  @media (orientation: landscape) and (width < global.$breakpoint-tablet) {
    .head-background {
      min-height: auto;
      padding-bottom: 10vh;
    }

    .head-text {
      position: static;
      padding: 10% 7%;
    }
  }

  @media (width >= global.$breakpoint-tablet) {
    .desktop {
      display: block;
    }

    .mobile {
      display: none;
    }

    .head-text {
      h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 3rem;
      }
    }
  }

  @media (width >= global.$breakpoint-desktop-xxl) {
    .head-text {
      h1 {
        font-size: 6rem;
      }
      h2 {
        font-size: 4rem;
      }
    }
  }
</style>
